
*{
  font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.footer {
  background-color: white;
  text-align: left;
  color: black;
}

.full-width-hr {
  border: 0;
  border-top: 1px solid #ccc;
  width: 100%; 
  margin: 20px 0; 
}


.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 950px;
  margin: 0 auto;
}

.footer-logo img {
  height: 40px;
}

.contact-section,
.social-section {
  text-align: left;
}

.contact-section h4,
.social-section h4 {
  margin-bottom: 10px;
  font-size: 16px;
  color: black;
}

.contact-section p,
.social-section ul {
  margin: 0;
  color: black;
}

.contact-section p {
  font-size: smaller;
}

.social-icons {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
}

.social-icons li a {
  color: #333;
  font-size: 20px;
  text-decoration: none;
}

.social-icons li a:hover {
  color: #007bff;
}

.partial-width-hr {
  border: 0;
  border-top: 1px solid #ccc;
  width: 70%; 
  margin: 20px auto; 
}

.footer-container {
  display: flex;
  justify-content: space-around;
  background-color: white;
  flex-wrap: wrap;
  max-width: 1150px;
  margin: 0 auto;
  margin-left: 160px;
}

.footer-section {
  
  margin: 10px;
  min-width: 200px;
}

.footer-section h4 {
  font-weight: bold;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section li {
  font-size: small;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons li {
  margin: 0 10px;
}

.social-icons a {
  color: inherit;
  text-decoration: none;
  font-size: 1.5em;
}

.copy-right {
  text-align: center;
  
  
}
