.homepage {
  font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.summer-collection {
  max-width: 100%;
  height: 430px;
  margin-bottom: 1rem;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin-bottom: 60px;
}

.logo {
  position: relative;
  margin-top: 80px;
  
}

.summer-image {
  width: 100%; 
  height: auto; 
  max-height: 100%;
  display: block; 
  border-radius: 50px; 
}

.logo-heading {
  position: absolute;
  top: 50%; 
  left: 650px; 
  transform: translate(-50%, -50%);
  text-align: center; 
  color: black; 
}

.logo-heading h1 {
  margin: 0;
  gap: 10px;
  font-size: 40px;
}

.shop-now-button {
  width: 200px;
  height: 50px;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 25px;
  font-weight: bolder;
  background-color: black;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
.homepage-inner {
  background-color: white;
  max-width: 100%;
  margin: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.left-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55%;
}

.collection-left-top,
.collection-left-bottom {
  flex: 1;
  background-color: #cec9c9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 45%;
  margin-left: 30px;
}

.collection-right-side {
  flex: 1;
  background-color: #cec9c9;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logo-left,
.logo-right {
  position: relative;
}

.logo-image {
  max-width: 70%;
  height: auto;
  border-radius: 10px;
  display: block; 
  margin: 0 auto; 
}

.beach-image {
  max-width: 65%;
  border-radius: 10px;
  margin-left: 30px;
  display: block;
  margin: 0 auto; 
}
.footer {
  text-align: center;
  margin-top: 20px;
  color: #888;
  font-size: 14px;
  margin-top: 100px;
}
